.menu .list a{
	transition: all .3s ease;
}
.menu .list a:hover{
	color: #2196f3 !important;
}
.menu .list a span{
	transition: all .3s ease;
}
.menu .list a:hover span{
	color: #2196f3 !important;
}
.alert{
    position: absolute;
    bottom: 20px;
    right: 20px;
    z-index: 999999;
}

.dropdown-menu {
    width: 513px;
    position: absolute;
    top: 73px;
    padding: 5;
}

.dropdown-item {
    display: block;
    padding: 5px 10px;
    text-decoration: none;
    text-align: left;
    color: black;
}

.dropdown-item:hover{
    background-color: grey;
}