.menu .list a{
	transition: all .3s ease;
}
.menu .list a:hover{
	color: #2196f3 !important;
}
.menu .list a span{
	transition: all .3s ease;
}
.menu .list a:hover span{
	color: #2196f3 !important;
}
.alert{
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999999;
}